/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND IMAGE */
body {
    margin: 0;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMjRjemI2a3pmODM5cHV4YXVjdHA4amVwYnJ6MDdhNHVtNTE3bWdhciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUA7b4arnbo3THfzi0/giphy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CENTER SECTION */
.result-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLASS CARD */
.result-card {
  width: 90%;
  max-width: 420px;
  padding: 35px;
  border-radius: 22px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,0.25);
  text-align: center;
  color: #fff;
  box-shadow: 0 25px 50px rgba(0,0,0,0.6);
  animation: fadeUp 1s ease;
}

/* SCORE CIRCLE */
.score-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  background: linear-gradient(135deg,#00f2fe,#4facfe);
  box-shadow: 0 0 30px rgba(79,172,254,0.8);
  animation: pop 1s ease;
}


/* TEXT */
.result-card h2 {
  margin-top: 25px;
  font-weight: 700;
}

.result-text {
  font-size: 14px;
  opacity: 0.85;
  margin-top: 10px;
}

/* BUTTON */
.btn-primary {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  background: linear-gradient(135deg,#6cffce,#00ff99);
  color: #000;
}

.btn-primary:hover {
  box-shadow: 0 0 18px #6cffce;
}

/* ANIMATIONS */
@keyframes pop {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
