body{
    height: 100vh;
    width: 100%;
}



.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 200px;
    width: 400px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* font-size: 24px; */
}